/* At collapse state, the circle is draggable */
.draggable-circle {
    position: fixed;
    bottom: 150px;
    right: 40px;
    width: 60px;
    height: 60px;
    background-color: rgb(62, 41, 1); /* Background color */
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab; /* Draggable cursor */
    z-index: 1000; /* Bring to front */
    transition: box-shadow 0.3s ease;
    /* Text select disabled to prevent mismatch in grabbing and copy text feature on mobile devices */
    user-select: none; /* Disable text selection */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

/* At initial state, the circle is expanded */
.draggable-circle.expanded {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 238, 207);
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: all 0.5s ease; /* Smooth morph animation */
}

/* All hover */
.draggable-circle:hover {
    background-color: rgb(255, 238, 207); /* Background color */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

/* Collapse state display */
.draggable-circle .circle-image {
    width: 50px; /* Adjust size of the gif */
    height: 50px;
    pointer-events: none; /* Allow drag without selecting the image */
}

/* Expanded state display */
.draggable-circle.expanded .circle-image {
    width: 150px;
    height: 150px;
}
.draggable-circle .expanded-content {
    display: none;
    text-align: center;
}
.draggable-circle.expanded .expanded-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.draggable-circle .expanded-content h2 {
    font-size: 24px;
    color: rgb(62, 41, 1);
}
.draggable-circle .expanded-content button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: rgb(62, 41, 1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.draggable-circle .expanded-content button:hover {
    background-color: rgb(95, 61, 2);
}

/* Description by tooltip */
.tooltip {
    visibility: hidden;
    position: absolute;
    background-color: rgba(48, 32, 1, 0.7); /* Dark brown background */
    color: white;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.draggable-circle:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip.top-left {
    bottom: 100%;
    right: 20%;
    transform: translateY(-8px), translateX(12px);
}

.tooltip.bottom-left {
    top: 100%;
    right: 20%;
    transform: translateY(8px), translateX(12px);
}

.tooltip.top-right {
    bottom: 100%;
    left: 20%;
    transform: translateY(-8px), translateX(-12px);
}

.tooltip.bottom-right {
    top: 100%;
    left: 20%;
    transform: translateY(8px), translateX(-12px);
}
